{% extends 'base.html.twig' %}

{% block title %}Employé{% endblock %}

{% block body %}
    <h1>Employé</h1>
    <div class="mb-4">
            <a href="{{ path('user_index') }}" class="btn btn-primary">Revenir à la liste</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}"class="btn btn-warning " >Modifier</a>

    </div>

    {{ include('user/_delete_form.html.twig') }}

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ 'ROLE_ADMIN' in user.getRoles ? 'Administrateur' : 'Simple employé' }}</td>
            </tr>
           
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>Poste</th>
                <td>{{ user.poste }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h2>Liste des experiences</h2>
    <a href="{{path('experience_new',{id:user.id})}}" class="btn btn-success">Ajouter une expérience</a>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for exp in user.getExperiences() %}
            <tr>
                <td>{{ exp.titre }}</td>
                <td>{{ exp.description }}</td>
                <td>
                    
                        <a href="{{ path('experience_edit', {'id': exp.id}) }}" >modifier</a>
                        
                            
                            <form method="post" action="{{ path('experience_delete', {'id': exp.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ligne?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exp.id) }}">
                                <button class="btn text-danger">Delete</button>
                            </form>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas d'experience trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
